{% extends "base.html" %}
{% block content %}
<h1> Simple DB API Reference </h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Path</th>
      <th scope="col">Args</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>/get_tables</td>
      <td>None</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>/describe_table</td>
      <td>table</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>/get_all_from_table</td>
      <td>table</td>
    </tr>
  </tbody>
</table>
{% endblock %}
