{% extends "base.html" %}
{% block content %}
<form id='contact' action='/send_email' method="post">
  <div class="form-group">
    <label for="to_email">To Email Address</label>
    <input name="to_email" type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="form-group">
    <label for="subject">Subject</label>
    <input name="subject" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Hello!">
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">HTML Content to send</label>
    <textarea name='content_to_send' class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <div class="form-group">
    <label for="api_token">API Token Name</label>
    <input name="api_token" type="text" class="form-control" id="exampleFormControlInput1" placeholder="DerricksToken">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
